<app-header></app-header>
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h2 style="margin-right: 10px;">Crear alarma</h2>
      <img src="assets/alarma.png" alt="Home" class="img-fluid" style="width: 86px; height: 80px;">
    </div>

    <div class="card text-center" style="width: 815px; height: 438px; margin-top: 30px;">
      <div class="card-body text-center" style="background-color: #A3CFBB;">
        <p class="card-text text-center" style="margin-bottom: 20px; margin-top: 90.5px;">La cita con el especialista para el día 4/Julio/2023 a las 9:00 a.m ha sido creada con éxito.</p>
         <button type="button" class="btn" style="background-color: #146C43; width: 379px; height: 77px;" routerLink=''>Aceptar</button>
      </div>
    </div>

  </div>


</div>




<div class="btn-link">
  <a   class="btn-link" role="button" routerLink=''>Regresar</a>
</div>
