<app-header></app-header>
<div class="container-fluid">
  <div class="row">
  <div class="col-12 text-center">
    <h2 style="margin-right: 10px;">Mi salud <br>Información</h2><br>
    <img src="assets/salud.png" alt="Salud" class="img-fluid" style="width: 100px; height: 100px;">
  </div>

  <div>
  <table class="table" style="margin-top: 10px;">
    <thead>
      <tr>
        <th scope="col" style="font-size: 48px; color: #146C43; font-family: 'Inter-Medium', sans-serif; background-color: #D1E7DD;">Medicamento:</th>
        <th scope="col" style="font-size: 48px; color: #146C43; font-family: 'Inter-Medium', sans-serif; background-color: #D1E7DD;">Previene:</th>
        <th scope="col" style="font-size: 48px; color: #146C43; font-family: 'Inter-Medium', sans-serif; background-color: #D1E7DD;">Actividades:</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="background-color: #D1E7DD; font-size: 48px; color: #146C43; font-family: 'InriaSans-Regular', sans-serif;">Medicamento 1</td>
        <td style="background-color: #D1E7DD; font-size: 48px; color: #146C43; font-family: 'InriaSans-Regular', sans-serif;">Enfermedad 1</td>
        <td style="background-color: #D1E7DD; font-size: 48px; color: #146C43; font-family: 'InriaSans-Regular', sans-serif; ">Caminar</td>
        </tr>
      <tr>
        <td style="background-color: #D1E7DD; font-size: 48px; color: #146C43; font-family: 'InriaSans-Regular', sans-serif;"></td>
        <td style="background-color: #D1E7DD; font-size: 48px; color: #146C43; font-family: 'InriaSans-Regular', sans-serif;">Enfermedad 2</td>
        <td style="background-color: #D1E7DD; font-size: 48px; color: #146C43; font-family: 'InriaSans-Regular', sans-serif;">Tomar agua</td>
        </tr>
      <tr>
        <td style="background-color: #D1E7DD; font-size: 48px; color: #146C43; font-family: 'InriaSans-Regular', sans-serif;"></td>
        <td style="background-color: #D1E7DD; font-size: 48px; color: #146C43; font-family: 'InriaSans-Regular', sans-serif;">Enfermedad 3</td>
        <td style="background-color: #D1E7DD; font-size: 48px; color: #146C43; font-family: 'InriaSans-Regular', sans-serif;">Resolver puzzles</td>
        </tr>
    </tbody>
  </table>
  </div>
  </div>
</div>

<div class="btn-link">
  <a   class="btn-link" role="button" routerLink=''>Regresar</a>
</div>
