div {
  background: #D1E7DD;

  display: flex;
  align-items: center;
  justify-content: center;
}

@font-face {
  font-family: 'Inter-Bold';
  src: url('/assets/fonts/Inter-Bold.ttf') format('truetype');
}

h2{
  font-size: 54px;
  color: #146C43;
  font-family: 'Inter-Bold', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
}

@font-face {
  font-family: 'Inter-Regular';
  src: url('/assets/fonts/Inter-Regular.ttf') format('truetype');
}

label{
  font-size: 44px;
  color: #146C43;
  font-family: 'Inter-Regular', sans-serif;
}

@font-face {
  font-family: 'Inter-Light';
  src: url('/assets/fonts/Inter-Light.ttf') format('truetype');
}

.btn-link {
  font-size: 40px;
  color: #75B798;
  font-family: 'Inter-Light', sans-serif;
  text-decoration: underline;
  border: none;
  display: flex;
  align-items: start;
  justify-content: start;
  margin-top: 2px;
  margin-left: 10px;
  margin-bottom: 10px;
  transition: none !important;
}

button{
  color: #D1E7DD;
  transition: none !important;
  font-family: 'Inter-Regular', sans-serif;
  font-size: 48px;
  width: 624px;
  height: 77px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.btn:hover {
  color: #D1E7DD;

}

@font-face {
  font-family: 'Inter-Medium';
  src: url('/assets/fonts/Inter-Medium.ttf') format('truetype');
}

p{
  font-family: 'Inter-Medium',sans-serif;
  font-size: 32px;
  color: #146C43;
  line-height: 1;
}

table{
  background-color: #D1E7DD;
  border-collapse: separate;
  border-spacing: 0 80px;
}

@font-face {
  font-family: 'InriaSans-Regular';
  src: url('/assets/fonts/InriaSans-Regular.ttf') format('truetype');
}
