<app-header></app-header>
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h2 style="margin-right: 10px;">Crear alarma</h2>
      <img src="assets/alarma.png" alt="Home" class="img-fluid" style="width: 86px; height: 80px;">
    </div>

    <div class="col-12" style="margin-bottom: 20px; margin-top: 20px; margin-right: 100px;">
      <label for="inputTime" style="margin-right: 100px; margin-left: 10px;">Hora:</label>
      <input type="text" class="form-control col-4 text-center" id="inputTime" placeholder="20:00 P.M" style="width: 511px; height: 63px; font-size: 48px; font-family: 'Inter-Thin', sans-serif;">
    </div>

    <div class="form-group col-12" style="margin-bottom: 20px; margin-right: 440px;">
      <label for="seleccion" style="margin-right: 200px; margin-left: 10px;">Medicamento:</label>
      <select class="form-control" id="seleccion" name="seleccion"  style="background-color: #A3CFBB; width: 263px; color:#146C43; font-size: 20px; font-family: 'Inter-Bold', sans-serif;">
        <option value="opcion1">Amoxicilina</option>
        <option value="opcion2">Esomeprazol</option>
        <option value="opcion3">Cefalexina</option>
      </select>
    </div>


    <div class="col-12" style="margin-bottom: 20px;">
      <label for="inputText" style="margin-right: 40px;">Frecuencia:</label>
      <div class="d-block">
      <p>¿Cuántas veces al día se debe tomar el medicamento?</p><br>
      <input type="text" class="form-control col-4 text-center" id="inputText" style="width: 129px; height: 63px; font-size: 48px; font-family: 'Inter-Thin', sans-serif;"><p>veces al día</p>
      <br><p>¿Cada cuántas horas se debe tomar el medicamento?</p><br><p>Cada</p><input type="text" class="form-control col-4" id="inputPassword" style="width: 129px; height: 63px; font-size: 48px; font-family: 'Inter-Thin', sans-serif;"><p>horas</p>
      </div>
    </div>

    <div class="col-12" style="margin-bottom: 10px;">
      <button type="button" class="btn" style="background-color: #146C43;" routerLink="/notificacion">Tipo de notificación</button>
    </div>

  </div>
</div>

<div class="btn-link">
  <a   class="btn-link" role="button" routerLink=''>Regresar</a>
</div>



