/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }

@import '~bootstrap/dist/css/bootstrap.min.css';

@font-face {
  font-family: 'Inter-ExtraBold';
  src: url('/assets/fonts/Inter-ExtraBold.ttf') format('truetype');
}

body {
  font-family: 'Inter-Extrabold', sans-serif;
}

