<app-header></app-header>
<div class="container-fluid">
  <div class="row">
  <div class="col-12 text-center">
    <h2 style="margin-right: 10px;">Mis medicamentos <br>Seguimiento</h2><br>
    <img src="assets/medicamentos.png" alt="Salud" class="img-fluid" style="width: 100px; height: 100px;">
  </div>

  <div>
  <table class="table" style="margin-top: 10px;">
    <thead>
      <tr>
        <th scope="col" style="font-size: 36px; color: #146C43; font-family: 'Inter-Medium', sans-serif; background-color: #D1E7DD;"></th>
        <th scope="col" style="font-size: 36px; color: #146C43; font-family: 'Inter-Medium', sans-serif; background-color: #D1E7DD;">Lunes</th>
        <th scope="col" style="font-size: 36px; color: #146C43; font-family: 'Inter-Medium', sans-serif; background-color: #D1E7DD;">Martes</th>
        <th scope="col" style="font-size: 36px; color: #146C43; font-family: 'Inter-Medium', sans-serif; background-color: #D1E7DD;">Miércoles</th>
        <th scope="col" style="font-size: 36px; color: #146C43; font-family: 'Inter-Medium', sans-serif; background-color: #D1E7DD;">Jueves</th>
        <th scope="col" style="font-size: 36px; color: #146C43; font-family: 'Inter-Medium', sans-serif; background-color: #D1E7DD;">Viernes</th>
        <th scope="col" style="font-size: 36px; color: #146C43; font-family: 'Inter-Medium', sans-serif; background-color: #D1E7DD;">Sábado</th>
        <th scope="col" style="font-size: 36px; color: #146C43; font-family: 'Inter-Medium', sans-serif; background-color: #D1E7DD;">Domingo</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="background-color: #D1E7DD; font-size: 48px; color: #146C43; font-family: 'Inter-Medium', sans-serif;">Amoxicilina</td>
        <td style="background-color: #D1E7DD; font-size: 48px; color: #146C43; font-family: 'Inter-Medium', sans-serif;"><img src="assets/canceled.png" alt="Cancel" class="img-fluid" style="width: 40px; height: 40px;"></td>
        <td style="background-color: #D1E7DD; font-size: 48px; color: #146C43; font-family: 'Inter-Medium', sans-serif; "><img src="assets/checked.png" alt="Check" class="img-fluid" style="width: 40px; height: 40px;"></td>
        <td style="background-color: #D1E7DD; font-size: 48px; color: #146C43; font-family: 'Inter-Medium', sans-serif; "><img src="assets/checked.png" alt="Check" class="img-fluid" style="width: 40px; height: 40px;"></td>
        <td style="background-color: #D1E7DD; font-size: 48px; color: #146C43; font-family: 'Inter-Medium', sans-serif; "><img src="assets/checked.png" alt="Check" class="img-fluid" style="width: 40px; height: 40px;"></td>
        <td style="background-color: #D1E7DD; font-size: 48px; color: #146C43; font-family: 'Inter-Medium', sans-serif; "><img src="assets/checked.png" alt="Check" class="img-fluid" style="width: 40px; height: 40px;"></td>
        <td style="background-color: #D1E7DD; font-size: 48px; color: #146C43; font-family: 'Inter-Medium', sans-serif; "><img src="assets/checked.png" alt="Check" class="img-fluid" style="width: 40px; height: 40px;"></td>
        <td style="background-color: #D1E7DD; font-size: 48px; color: #146C43; font-family: 'Inter-Medium', sans-serif; "><img src="assets/checked.png" alt="Check" class="img-fluid" style="width: 40px; height: 40px;"></td>
        </tr>
      <tr>
        <td style="background-color: #D1E7DD; font-size: 48px; color: #146C43; font-family: 'Inter-Medium', sans-serif;">Esomeprazol</td>
        <td style="background-color: #D1E7DD; font-size: 48px; color: #146C43; font-family: 'InriaSans-Regular', sans-serif;"><img src="assets/canceled.png" alt="Cancel" class="img-fluid" style="width: 40px; height: 40px;"></td>
        <td style="background-color: #D1E7DD; font-size: 48px; color: #146C43; font-family: 'InriaSans-Regular', sans-serif;"><img src="assets/canceled.png" alt="Cancel" class="img-fluid" style="width: 40px; height: 40px;"></td>
        <td style="background-color: #D1E7DD; font-size: 48px; color: #146C43; font-family: 'Inter-Medium', sans-serif; "><img src="assets/checked.png" alt="Check" class="img-fluid" style="width: 40px; height: 40px;"></td>
        <td style="background-color: #D1E7DD; font-size: 48px; color: #146C43; font-family: 'Inter-Medium', sans-serif; "><img src="assets/checked.png" alt="Check" class="img-fluid" style="width: 40px; height: 40px;"></td>
        <td style="background-color: #D1E7DD; font-size: 48px; color: #146C43; font-family: 'Inter-Medium', sans-serif; "><img src="assets/checked.png" alt="Check" class="img-fluid" style="width: 40px; height: 40px;"></td>
        <td style="background-color: #D1E7DD; font-size: 48px; color: #146C43; font-family: 'Inter-Medium', sans-serif; "><img src="assets/checked.png" alt="Check" class="img-fluid" style="width: 40px; height: 40px;"></td>
        <td style="background-color: #D1E7DD; font-size: 48px; color: #146C43; font-family: 'Inter-Medium', sans-serif; "><img src="assets/checked.png" alt="Check" class="img-fluid" style="width: 40px; height: 40px;"></td>
        </tr>
      <tr>
        <td style="background-color: #D1E7DD; font-size: 48px; color: #146C43; font-family: 'Inter-Medium', sans-serif;">Cefalexina</td>
        <td style="background-color: #D1E7DD; font-size: 48px; color: #146C43; font-family: 'InriaSans-Regular', sans-serif;"><img src="assets/canceled.png" alt="Cancel" class="img-fluid" style="width: 40px; height: 40px;"></td>
        <td style="background-color: #D1E7DD; font-size: 48px; color: #146C43; font-family: 'InriaSans-Regular', sans-serif;"><img src="assets/canceled.png" alt="Cancel" class="img-fluid" style="width: 40px; height: 40px;"></td>
        <td style="background-color: #D1E7DD; font-size: 48px; color: #146C43; font-family: 'InriaSans-Regular', sans-serif;"><img src="assets/canceled.png" alt="Cancel" class="img-fluid" style="width: 40px; height: 40px;"></td>
        <td style="background-color: #D1E7DD; font-size: 48px; color: #146C43; font-family: 'InriaSans-Regular', sans-serif;"><img src="assets/canceled.png" alt="Cancel" class="img-fluid" style="width: 40px; height: 40px;"></td>
        <td style="background-color: #D1E7DD; font-size: 48px; color: #146C43; font-family: 'Inter-Medium', sans-serif; "><img src="assets/checked.png" alt="Check" class="img-fluid" style="width: 40px; height: 40px;"></td>
        <td style="background-color: #D1E7DD; font-size: 48px; color: #146C43; font-family: 'Inter-Medium', sans-serif; "><img src="assets/checked.png" alt="Check" class="img-fluid" style="width: 40px; height: 40px;"></td>
        <td style="background-color: #D1E7DD; font-size: 40px; color: #146C43; font-family: 'Inter-Medium', sans-serif; ">Pendiente</td>
      </tr>
    </tbody>
  </table>
  </div>
  </div>
</div>

<div class="btn-link">
  <a   class="btn-link" role="button" routerLink=''>Regresar</a>
</div>
