<div class="container-fluid">
  <div class="row">
  <h2 class="col-12" style="margin-top: 40px;">Bienvenido(a) a</h2>
  <img src="assets/logo.png" alt="Home" class="img-fluid col-2" style="width: 180px; height: 150px;">
  <h1 class="col-5">MEDICATIONS ALARM</h1>
  <p class="col-8">Este sitio web está enfocado en la creación de alarmas para que nunca olvides la toma de medicamentos necesarios para mantener una buena salud y por ende
    una excelente calidad de vida. Además encontrarás información relacionada a los medicamentos que tomes y también podrás agregar citas médicas, de
    esta manera tendrás toda la información organizada sobre tu salud.</p>
  <img src="assets/inicio.png" alt="Home" class="img-fluid col-4">
  </div>
</div>
